# Ignore everything

.idea/
html-preview/theme/components/numbered-headings.*
!html-preview/theme/components/numbered-headings.less

html-preview/theme/rememb20ray-forgetica.*
!html-preview/theme/rememb20ray-forgetica.less
html-preview/theme/rememb20ray.*
!html-preview/theme/rememb20ray.less