# Ignore everything

.idea/
html-preview/theme/components/numbered-headings.*
!html-preview/theme/components/numbered-headings.less

html-preview/theme/rememb20ray.*
!html-preview/theme/rememb20ray.less
html-preview/theme/rememb20ray-clean.*
!html-preview/theme/rememb20ray-clean.less