/**
 * import styles
 */

@import "rememb20ray-forgetica";


#write {
  font-family: 'Roboto', sans-serif;
}

sup.md-footnote {
  border-radius: 1000px;
  padding: 4px 4px 4px 5px;
  font-size: @subscript-font-size;
}

.md-def-footnote {
  font-family: "Roboto", sans-serif;
}